body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chessBoard {
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Chessboard squares */
.white {
    background-color: #dfe7fd; /* Light blue */
}

.black {
    background-color: #52658f; /* Dark blue */
}

.coordinate {
    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
    top: 4%;
    right: 4%;
    left: auto;
}

/* Coordinates text */
.whiteText {
    color: #dfe7fd; /* Matches the light blue square */
}

.blackText {
    color: #52658f; /* Matches the dark blue square */
}

.piece {
    width: 100%;
    z-index: 1;
    cursor: pointer;
}
.piece img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .chessBoard {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 600px) {
    .coordinate {
        font-size: 8px;
    }
}

.chessBoard.disabled {
    pointer-events: none; /* Disable all interactions */
    opacity: 0.5; /* Dim the board to indicate it's disabled */
}